.enter-btn{
    margin-top: 15px;
}

.enter-insurance-info ul li{
    height: 40px;
    line-height: 40px;
}

.enter-insurance-info ul li i{
    color: red;
    margin-right: 5px;
}

.enter-insurance-info ul:first-child{
    float: left;
    text-align: right;
    margin-left: 80px;
}
.enter-insurance-info ul:last-child{
    float: left;
    text-align: left;
}
.clearfix:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
}


