.policy-num{
    margin-top: 5px;
}
.policy-query{
    margin-left: -25px;
    margin-top: 5px;
}
.wrap-policy{
    border-top: 1px solid #EBEBEB;
    padding-top: 30px;
}
.policy-input{
    margin-left: -15px;
}