
.close-frame{
    background-color: #edf8e8;
    padding:20px 15px;
    border:1px solid rgba(218, 240, 208, 1);
    border-radius:3px;
}

.close-icons{
    float: right;
    position: relative;
    top: -10px;
    cursor: pointer;
}