.claim-textarea{
  width: 677px;
  height: 100px;
  margin-left: 9px;
}
.btn-claim{
  display: block;
  margin-top:50px;
  margin-left: 8px;
}
.survey-submit{
  min-width: 800px;
  margin-top: 50px;
  padding: 20px 15px 50px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 370px;
  background-color: #edf8e8;
}
.close-icon{
  float: right;
  position: relative;
  top: -10px;
  cursor: pointer;
}
.clearfix:after{
  display:block;
  content:"clear";
  height:0;
  clear:both;
  overflow:hidden;
  visibility:hidden;
}
.survey-info{
  font-size: 16px;
  margin-bottom: 5px;

}
.ant-form-inline .ant-form-item-with-help{
  margin-bottom: 5px!important;
}
